/* STYLING FROM REACT */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CUSTOM STYLING */

.flow-text{
  font-size: 40px;
  font-family: 'Fresca', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
}

#background {
  /* margin-top: 25px; */
  background-image: url('./repaw.png');
  z-index: 0;
  /* background-position-x: 2%; */
  background-size: 100% 100%;
  min-height: 100vh;
  min-width: 100%;
  /* Set up proportionate scaling */
  /* width: 100%;
  height: auto;  */
  /* Set up positioning */
  /* position: fixed;
  top: 0;
  left: 0;   */ 
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size:80px;
  font-weight: bold;
  color:white;
}

h3 {
  color:white;
  margin-top:150px;
  margin-left:180px;
}

#login, #logout {
  margin:10px 20px auto 20px;
  background:none!important;
  border:none; 
  padding:0!important;
  color:gray;
  font-size:18px;
  margin-top:0;
}

 #loginOne {
  margin-left:1330px;
  margin-top:-70px;
  z-index: 8;
  background:none!important;
  border:none; 
  padding:0!important;
  font-size:20px;
  display:inline;
}

.i {
  margin-left:-5px;
}

#pawIcon {
  width:40px;
  height: 40px;
  color:white;
  margin-bottom:40px;
}

.welcomeMsg img{
  width:100px;
  height:100px;
  float: left;
} 

.welcomeMsg span {
 vertical-align: middle;
 display: inline-block;
 font-size:40px;
}

#loading {
  width:180px;
  height:100px;
  margin-top:300px;
}

a nav-item {
  font-size:24px;
}

.notFoundLink{
 
  margin-left: 50%;
}

#icon {
  margin-left:50%;
}

/* color value for the main page is 32327c */
